/*
* 
* @author Felipe Bento
*/

/* Estilos do Layout */

html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/capa.png), url(../imagens/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Aplicando transparência na navbar */

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}

/* Estilizando os links da navbar */

.navbar-light .navbar-nav .nav-link {
    color: white;
}

/* hover link / ao passar o cursor mouse */

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

/* Borda ICON Menu */

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .692);
    border-color: rgba(255, 255, 255, 0.692);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* Formatação da CAPA */

.capa {
    text-align: center;
}

/*Rodapé*/
footer{
    background: #000;
    padding: 50px 0px 20px;
    position: relative;
}

footer h4{
    color: #919496
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
}


footer .navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

/* Tipografia */

p {
    color: black;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

.btn-custom, .btn-roxo, .btn-branco {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px, 20px;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background: purple;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
}

/*Estrutura de conteúdos */
#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos h2, h3{
    color: #7c25f8;
}

#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
}

#recursos h2{
    color: white;
}

#recursos h3{
    color: #9bf0b1;
}

#recursos p{
    color: white;
}

/*Estrutura de conteúdos */

.albuns{
    padding: 10px 0px;
}

.rotacionar{
    transform: rotate(30deg);
    padding-left: 80px;
    -ms-transform: rotate(30deg); /*Internet Explorer 9*/
    -webkit-transform: rotate(30deg); /*Chrome, Safari, Opera*/
    padding-left: 80px;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}




/* Dispositivo muito pequeno (Dispositivos que possuem menos que 576px de resolução) */

@media (max-width: 575.98px) {
    .btn-lg-custom {
        margin: 10px;
    }
}

/* Dispositivos Pequenos (Dispositivos com resolução maior que 576px.) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-lg-custom {
        margin: 10px;
    }
    h1 {
        font-size: 3em;
    }
}

/* Dispositivos Médios (Dispositivos que exibem mais que 768px. ex: tablets e smartphones comuns) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .btn-lg-custom {
        margin: 10px;
    }
    h1 {
        font-size: 4em;
    }
}

/* Dispositivos Maiores (Dispositivos como desktops mais que exibem 992px) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .btn-lg-custom {
        margin: 10px;
    }
    h1 {
        font-size: 5em;
    }
}

/* Dispositivos Ultra Wide (Dispositivos widescreen com resolução maior que 1200px) */

@media (min-width: 1200px) {
    .btn-lg-custom {
        margin: 10px;
    }
    h1 {
        font-size: 6em;
    }
}